<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Basic</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td><%= userData.name %></td>
          </tr>

          <tr>
            <td>id</td>
            <td><%= userData.id %></td>
          </tr>
          <tr>
            <td>section</td>
            <td>inf sys & com science</td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= userData.email %></td>
          </tr>
          <tr>
            <td>Create At</td>
            <td><%= userData.createdAt %></td>
          </tr>
          <tr>
            <td>Level</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Nationality</td>
            <td>egyption</td>
          </tr>
          <tr>
            <td>Academic Advisor</td>
            <td>emad ali</td>
          </tr>
          <tr>
            <td>Register Houres</td>
            <td>104</td>
          </tr>
          <tr>
            <td>GPA</td>
            <td>3.6</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</div>
