<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head'); %>
</head>
<body class="container">

<header>
    <%- include('../layout/navbar'); %>
</header>

<main>
    <h1>
        Courses List
    </h1>

    <div class="card" style="width: 18rem;">
        <img src="https://assets.hongkiat.com/uploads/100-absolutely-beautiful-nature-wallpapers-for-your-desktop/blue-sea-sunset.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Course 1</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://assets.hongkiat.com/uploads/100-absolutely-beautiful-nature-wallpapers-for-your-desktop/blue-sea-sunset.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Course 2</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://assets.hongkiat.com/uploads/100-absolutely-beautiful-nature-wallpapers-for-your-desktop/blue-sea-sunset.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Course 3</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</main>

<footer>
    <%- include('../layout/footer'); %>
</footer>

</body>
</html>
