<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 p-2">
  <div class="col">
    <div class="card h-100">
      <img
        src="/images/info1.jpg"
        class="card-img-top"
        alt="Skyscrapers"
      />
      <div class="card-body">
        <h5 class="card-title">Academic & artistic excellence</h5>
        <p class="card-text">
          We offer one of the world’s great undergraduate educations. We will
          cultivate your curiosity and help you master the tools necessary to
          engage humanity’s most vexing challenges, debates, and artistic
          frontiers
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 6 m ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="/images/info2.jpg"
        class="card-img-top"
        alt="Los Angeles Skyscrapers"
      />
      <div class="card-body">
        <h5 class="card-title">Learning & Labor</h5>
        <p class="card-text">
          It's not just our motto, it's our practice. Hands-on experience is a
          critical part of an Oberlin education. In research and scholarship, in
          creative work and performance, we make the connections between
          learning and doing,
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 m ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="/images/info3.jpg"
        class="card-img-top"
        alt="Palm Springs Road"
      />
      <div class="card-body">
        <h5 class="card-title">A restlessness of innovation</h5>
        <p class="card-text">
          From the very beginning—as the first college to adopt a policy to
          admit Black students and the first to grant undergraduate degrees to
          women in a co-ed program—we have championed critical work that yields
          necessary progress: new discoveries
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 m ago</small>
      </div>
    </div>
  </div>
</div>
