<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom container"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-building-columns"></i> 6 October University
          </h6>
          <p>
            Global Study O6U Gate.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Discover</h6>
          <p>
            <a href="#!" class="text-reset">About</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Universities</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Courses</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Journey</h6>
          <p>
            <a href="#!" class="text-reset">FAQs</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Latest News</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
          <p>
            <i class="fas fa-home me-3"></i> 6th of October City, Giza
            Governorate
          </p>
          <p>
            <div class="d-flex flex-row ">
            <i class="fas fa-envelope me-3"></i>
            <ul>
           <li> President-office@o6u.edu.eg</li>
           <li> adminoct@o6u.edu.eg</li>
          </ul>  
          </div>
          </p>

          <p>
                        <div class="d-flex flex-row ">
            <i class="fas fa-phone me-3"></i> 
            <ul><li>(+202) 383 55 275</li>
<li>(+202) 383 55 276</li>
</ul>
                        </div>
</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      > All Rights Reserved.  Privacy Policy</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->