<!-- Background image -->
<div
  class="p-5 text-center bg-image rounded-6"
  style="background-image: url('/images/home.jpg'); height: calc(100vh - 60px)"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">OCtober 6 University</h1>
        <h4 class="mb-3">
          With Courage, Compassion and Commitment, Workers at O6U Medicine Care
          for our Communities in the time of COVID-19
        </h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Read More...</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
