<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('layour/head-admin'); %>
</head>
<body class="container">

<header>
    <%- include('layout/header-admin'); %>
</header>

<main>
    <div class="jumbotron">
    </div>
</main>

<footer>
    <%- include('layout/footer-admin'); %>
</footer>

</body>
</html>
