<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head'); %>
</head>
<body class="container">

<header>
    <%- include('../layout/navbar'); %>
</header>

<main>
    <h1>
        List Users
    </h1>
</main>

<footer>
    <%- include('../layout/footer'); %>
</footer>

</body>
</html>
